name: Automated API tests using Postman CLI

on: push

jobs:
  automated-api-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Install Postman CLI
        run: |
          curl -o- "https://dl-cli.pstmn.io/install/linux64.sh" | sh
      - name: Login to Postman CLI
        run: postman login --with-api-key ${{ secrets.POSTMAN_API_KEY }}
      - name: Run API tests
        run: |
          postman collection run "38430555-0e0803a6-e6c5-4e08-b480-c7807dce8f65" -e "38430555-8c5888a7-0218-4245-a674-27e824fda5a9"
          postman collection run "38430555-68792235-a46a-4298-9207-6dd2a852a3c2" -e "38430555-8c5888a7-0218-4245-a674-27e824fda5a9"
